* {
    margin: 0;
    padding: 0;
}


html,
body {
    background: linear-gradient(-55deg, #143373, #040821, #040821, #143373) fixed;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

#wrap {
    text-align: center;
}


a {
    text-decoration: none;
}

a:hover {
    cursor: auto;
    cursor: pointer;
}

.header {
    width: 100%;
    height: 260px;
}

.header_logo {
    width: 250px;
    margin-top: 35px;
}



.menubar {
    z-index: 100;
    width: 100%;
    font-size: 14px;
    position: sticky;
    margin-top: 30px;
    top: 0;
    background: linear-gradient(-55deg, #143373, #040821, #040821, #143373) fixed;


}

.menubar ul {
    background: linear-gradient(-55deg, #143373, #040821, #040821, #143373) fixed;
    height: 44px;
    list-style: none;
    overflow: hidden;
    display: inline-block;

}

.menubar .active {
    color: #FFA3A7
}

.menubar li {
    float: left;
    padding: 0px;
    width: 141.5px;
}

.menubar li a {
    background: linear-gradient(-55deg, #143373, #040821, #040821, #143373) fixed;
    color: #cccccc;
    display: block;
    height: 44px;
    line-height: 44px;
    margin: 0px;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
}

.menubar li a:hover,
.menubar ul li {
    background: #081037;
    color: #FFA3A7;
    text-decoration: none;
}

.menubar li ul {
    display: none;
    height: auto;
    padding: 0px;
    margin: 0px;
    position: absolute;

}

.menubar li:hover ul {
    display: block;
}

.menubar li li {
    background: linear-gradient(-55deg, #143373, #040821, #040821, #143373) fixed;
    display: block;
    float: none;
    margin: 0px;
    padding: 0px;
    width: 141.5px;
}

.menubar li ul a {
    display: block;
    height: 44px;
    font-size: 12px;
    margin: 0px;
}

.menubar li ul a:hover,
.menubar li ul li:hover a {
    background: #081037;
    border: 0px;
    color: #FFA3A7;
    text-decoration: none;
}

#wrap {
    width: 100%;
    height: auto;

}

.background {
    background-image: url(edited_image/background_4350.png);
    background-size: 100% 100%;
    width: 1000px;
    height: 4350px;
    display: inline-block;
    margin-bottom: 60px;
    margin-top: 20px;

}

.about {
    width: 850px;
    height: 790px;
    display: inline-block;


}



.image_background {
    background: #B3AEC1;
    width: 850px;
    height: 230px;
    display: inline-block;
    margin-top: 100px;
}

.image_background img {
    width: 100%;
    height: auto;
}

.about_text {
    height: 220px;
    width: 100%;
    margin-top: -5px;
    text-align: left;
    display: flex;
}

.about_text a,
.clip_video_small a {
    color: black;
}

.about_text a:hover,
.clip_video_small a:hover {
    opacity: .8
}

.about_text_left {
    height: 220px;
    width: 50%;
    border-right: 1px solid #808080;

}

.about_text_left_top {
    height: 110px;
    border-bottom: 1px solid #BCBCBC;
}

.about_text_title {
    padding: 10px 0px 0px 15px;
}

.about_text_left_text {
    padding: 0px 10px 10px 15px;
    height: 53px;
    font-size: 15px;
}

.about_text_left_text p {
    line-height: 53px;
}

.about_text_right {
    height: 220px;
    width: 50%;
}

.about_text_right_albumlist {
    height: 140px;
    width: 393px;
    overflow-y: hidden;
    margin-top: 15px;
    margin-left: 15px;
    border-top: 2px solid #BCBCBC;
    border-bottom: 2px solid #BCBCBC;

}

.about_text_right_albumlist:hover {
    overflow-y: scroll;
}

.about_text_right_albumlist p {
    font-size: 15px;
    padding: 10px 0px 10px 0px;
    ;
}

.clip {
    height: 835px;
    text-align: center;
    display: inline-block;

}

.clip_header img {
    width: 850px;
    height: auto;
    padding-top: 50px;
}

.clip_video_large {
    margin-top: 20px;
}

.clip_video_large_text {
    width: 100%;
}

.clip_video_large h3 {
    text-align: left;
}

.clip_video_large p {
    text-align: right;
    margin: -23px 0px 30px 0px;
    font-size: 13px;

}

.clip_video_small {
    width: 100%;
    height: 180px;
    display: flex;
    border-top: 1px solid #BCBCBC;
    padding-top: 15px;

}

#clip_thumbnail_1 {
    margin-right: 16.66px;
}

#clip_thumbnail_2 {
    margin-right: 16.66px;
}

#clip_thumbnail_3 {
    margin-right: 16.66px;
}


.clip_video_small_thumb {

    display: inline-block;
    height: 112px;
    width: 200px;
    position: relative;

}

.clip_small_thumb_img_play {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}





.clip_video_small_thumb:hover .clip_small_thumb_img_play {
    opacity: 1;
    transition: .5s ease;
    display: block;
}


.clip_video_small_thumb_text {
    text-align: left;
    font-size: 14px;
}


.clip_more {
    text-align: right;
    font-size: 15px;
}

.clip_more a {
    color: dimgray;
}

.clip_more a:hover {
    opacity: .8
}

.stage,
.music {
    width: 850px;
    display: inline-block;
}

.stage_header,
.music_header {
    padding-top: 50px;
    margin-bottom: 20px;
}

.stage_header img,
.music_header img {
    width: 850px;
}

.stage_image img {
    width: 850px;
}

.stage_video_large {
    margin-top: -6px;
}

.stage_more {
    text-align: right;
    font-size: 15px;
    height: 50px;
    margin-top: -5px;
}

.stage_more a {
    color: lightgray;
    line-height: 50px;
    padding-right: 20px;
}

.stage_more a:hover {
    opacity: .8
}

.music_content {
    width: 850px;
    height: 1000px;
    text-align: center;
}

.music_albumart {
    position: relative;
    display: inline-block;
    width: 600px;
    margin-top: 46px;
}

.music_albumart img {
    width: 600px;
}

.albumart_bg {
    width: 100%;
    height: 770px;
    background-image: url(edited_image/aoa_albumart_bg.jpg);
    background-size: cover;
}

.music_play {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.music_albumart:hover .music_play {
    display: block;
    opacity: 1;
    cursor: auto;
    cursor: pointer;
}

.music_info {
    margin: 10px 125px 0px 125px;
    text-align: left;
    color: #BCBCBC;
    font-size: 15px;
}

.music_bottom {
    width: 850px;
    display: inline-block;
}



.lylic {
    height: 450px;
    overflow-y: hidden;
    border-top: 3px solid #BCBCBC;
    border-bottom: 3px solid #BCBCBC;
    padding: 10px 0px 10px 0px;
    margin: 20px 125px 0px 125px;
    font-size: 15px;
}

.lylic:hover {
    overflow-y: scroll
}

::-webkit-scrollbar {
    display: none;
}

.lylic img {
    margin: 10px;
}

.composed_info {
    text-align: left;
    margin: 12px 125px 0px 125px;
    font-size: 10px;
    color: #898989;
}

#playbar {
    display: none;
}

.sidebar {
    font-size: 15px;
    width: 100px;
    height: 150px;
    background-image: url(edited_image/sidebar4.png);
    position: fixed;
    bottom: 5em;
    right: 4em;
    background-size: 100% 100%;
    display: inline-block;
    padding: 5px;
    opacity: .8
}


.sidebar_a {
    height: 30px;
    line-height: 30px;
}

.sidebar a {
    color: darkgray;
}

.sidebar a:hover {
    color: #FFA3A7;
}
